{% extends 'base2.html' %}
{% load static %}
{% block body %}


<div class="container search-container">
    <form method="GET" class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search-area" value="{{search_input}}">
        <button class="btn btn-outline-primary" type="submit">Search</button>
    </form>
</div>



<a href="{% url 'settings:user-create' %}">add user</a>

<h1>Admin</h1>
{% for user in users %}
    <div>
        {% if user.is_superuser %}
        <p>{{user.username}}</p>
        <a href="{% url 'settings:user-edit' user.id %}">edit</a>
        {% endif %}
    </div>
{% endfor %}

<h1>doctors</h1>
{% for user in users %}
    <div>
        {% if user.is_staff and not user.is_superuser %}
        <p>{{user.username}}</p>
        <a href="{% url 'settings:user-edit' user.id %}">edit</a>
        <a href="{% url 'settings:user-delete' user.id %}">delete</a>
        {% endif %}
    </div>
{% endfor %}

<h1>Students</h1>
{% for user in users %}
    <div>
        {% if not user.is_staff %}
        <p>{{user.username}}</p>
        <a href="{% url 'settings:user-edit' user.id %}">edit</a>
        <a href="{% url 'settings:user-delete' user.id %}">delete</a>
        {% endif %}
    </div>
{% endfor %}
{% endblock body %}